<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TP_PREGUNTADORT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TP_PREGUNTADORT.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar">
            <ul class="navbar-list">
                <li class="navbar-logo"><a href='@Url.Action("Index")'><img src="/Images/logo.png" alt="Logo del juego"></a></li>
                <li class="navbar-ranking"><a href='@Url.Action("HighScore")'><img src="/Images/RANKING.png" alt="img ranking"></a></li>
                <li class="navbar-play"><a href='@Url.Action("ConfigurarJuego")'><img src="/Images/JUGAR.png" alt="img jugar"></a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
